.hotelDetailsModal
{
display: block;
top: 30%;

}

.modal-header
{
display: block;
border-bottom: 0;

}
.modal-content
{
    padding-top: 26px;
    position: relative;
}
.closeBtn{
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
    color: #ffc107;
}
.closeBtn:hover{
    background: #000;
    color: #fff
}
    
.Hotel-title span.hotelName
{
    font-size: 13px;
}

.overviewTitle
{
    color:#FBBE00;

}

.hotelDes p{
  color: #4D5866;
  color: #4D5866;
  max-height: 220px;
  overflow-y: scroll;
}

.amentieslink
{
    display: inline-block;
    max-width: 200px;
    background: #ffc107;
    padding: 10px;
    color: #fff !important;
    font-weight: 400;
    border-radius: 4px;
    border: 1px solid #ffc107;
}

.amentieslink:hover{
    background: #f1f0ea;
    border: 1px solid #1a1918;
    cursor: pointer;
    color: black !important;
}