/* hide curr in inner pages+ checkout +confirmation */
:host::ng-deep.currLink{
    display: none;
    }

/* hide curr in inner pages+ checkout +confirmation */



.Title{
    text-align: center;
    color:#ffc107;
    font-family:  'DIN_Regular';
    padding-top: 100px;
    padding-bottom: 50px;
}
.logo {
    width: 200px;
    margin-top: 10px;
}

.confirmation {
    background: #2c2e3d;
    color: white;
    font-size: larger;   
}
.confirm-direction{
    margin-bottom: 30px;
}
.loadingcard{
    margin-top: 15%;
    background: white;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    padding-bottom: 15%;
}
.cancelation {
    width: 100%!important;
    float: left;
    border: 0!important;
    border-radius: 0;
    border-left: 0!important;
}
.moreResult {
    width: 100% !important;
    border-bottom: 0px !important;
    border-radius: 0px;
    border-right: 0px !important;
    text-align: center;
}
.moreDetails {
    padding-top: 10px;
    background: linear-gradient(
 to left, 
 rgb(250, 248, 249) 0%,
 rgb(180, 176, 178) 12%,
 rgb(153, 152, 152) 47%,
 rgb(245, 245, 245) 100%
 )
 center 
 top
 rgb(255, 255, 255) 
 no-repeat;
    background-size: 100% 1.5px;
  
}
.MoreDetBtn button{
    background: #fff;
    border: 0px;
    border-bottom: 0px;
    color: #000;
    padding: 10px;
    width: 100%;
}
.MoreDetBtn button:hover{
    background: #ffc107;
    border: 1px solid #ffc107;
    border-bottom: 0px;
    color: #fff;
    padding: 10px;
    width:100%;
    font-family:  'DIN_Bold';
}
.resultPage{
    background: url(../../../assets/img/shutterstock_775162108.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; 
}

.FRcard {
    padding-top: 10px;
    border-top: 1px solid #2e2b2b0d;
    background: #fff;
    /* min-height: 300px; */
    box-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    margin-top: 10px;
    font-family:  'DIN_Regular';
}
.leftpic {
    padding-left: 0px;
    padding-top: 10px;
}
.rightpic {
    padding-right: 0px;
    padding-top: 10px;
}
.FRcard img {
    vertical-align: middle;
    border-style: none;
    max-height: 195.2px;
}
.Departingin {
  font-family:  'DIN_Regular';
  padding-top: 10px;
}
.Departingin h6 {
    font-size: .8rem;
    
}
.info {
    margin: 10px;
    background: linear-gradient(
 to left, 
 rgb(250, 248, 249) 0%,
 rgb(180, 176, 178) 12%,
 rgb(153, 152, 152) 47%,
 rgb(245, 245, 245) 100%
 )
 center 
 top
 rgb(255, 255, 255) 
 no-repeat;
    background-size: 97% 1.5px;
  border-width: 2px;
  border-style: solid;
  border-image: 
    linear-gradient(
      to bottom, 
      rgb(250, 248, 249) 0%,
    rgb(180, 176, 178) 12%,
    rgb(153, 152, 152) 47%,
    rgb(245, 245, 245) 100%
    ) 1 97%;
}
.route {
    display: flex;
}
.route img
{
width: 100%;
}
.firstPoint {
    left: 18px;
}

.point {
    width: 15px;
    height: 15px;
    border: 2px solid #ffc107;
    border-radius: 100%;
    background-color: #fef9f917;
    position: relative;
    z-index: 3;
    margin-top: 10px;
}
.stopPoint {
    z-index: 7;
    left: 40%;
    background-color: #5ec074;
    top: -1px;
}
.rightdis {
    text-align: right;
    padding-right: 0;
    font-size: .7rem;
}
.leftdis {
    padding-left:0px;
    font-size: .7rem;
}
.duration {
    margin: 10px 0 0;
}
.stopStation {
    margin-top: -20px;
    font-size: .8rem;
    color: red;
}
.moreResult {
    width: 100% !important;
    float: right;
    border-bottom: 0px !important;
    border-radius: 0px;
    border-right: 0px !important;
    text-align: right;
}
.moreDetails {
    padding-top: 10px;
    background: linear-gradient(
 to left, 
 rgb(250, 248, 249) 0%,
 rgb(180, 176, 178) 12%,
 rgb(153, 152, 152) 47%,
 rgb(245, 245, 245) 100%
 )
 center 
 top
 rgb(255, 255, 255) 
 no-repeat;
    background-size: 100% 1.5px;
  
}
.MoreDetBtn button{
    background: #fff;
    border: 0px;
    border-bottom: 0px;
    color: #000;
    padding: 10px;
    width: 100%;
}
.MoreDetBtn button:hover{
    background: #ffc107;
    border: 1px solid #ffc107;
    border-bottom: 0px;
    color: #fff;
    padding: 10px;
    width:100%;
    font-family:  'DIN_Bold';
}
.cancelation {
    width: 100% !important;
    float: left;
    border: 0px !important;
    border-radius: 0px;
    border-left: 0px !important;
}
.phonenumber ngx-intl-tel-input{
    align-self: center;
    width: 204px;
    max-width: 250px;
    height: 46.6px;
    border-radius: 4px;
    border-style: solid;
    border-color: #dbd2d2ab;
    border-width: 1px;
    margin-top: 4px !important;
}
.phonecol {
    padding-top: 3px;
}
.infocard {
    border-width: 2px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      rgb(250, 248, 249) 0%,
    rgb(180, 176, 178) 12%,
    rgb(153, 152, 152) 47%,
    rgb(245, 245, 245) 100%
    ) 1 97%;
}
.modelDA p {
    font-size: 28px;
    color: #ffc107;
    margin-bottom: 0;
    font-family: 'DIN_Regular';
}
.priceCArd {
    max-height: fit-content;
    
}

.line {
    background: linear-gradient(
        to left, 
        rgb(250, 248, 249) 0%,
        rgb(180, 176, 178) 12%,
        rgb(153, 152, 152) 47%,
        rgb(245, 245, 245) 100%
        )
        center 
        bottom
        rgb(255, 255, 255) 
        no-repeat;
    background-size: 87% 1.5px;
}
.line1 {
    background: linear-gradient(
        to left, 
        rgb(250, 248, 249) 0%,
        rgb(180, 176, 178) 12%,
        rgb(153, 152, 152) 47%,
        rgb(245, 245, 245) 100%
        )
        left 
        bottom
        rgb(255, 255, 255) 
        no-repeat;
    background-size: 87% 1.5px;
}
.total {
    font-family: 'DIN_Bold';
    font-size: large;
}
.modaleT{
    border: 0;
    padding-bottom: 0px;
}
.modalheadder {
    font-size: 30px;
    color: #ffc107;
}
.modalebody{
    padding-bottom: 0px;
    font-size: 18px;
    text-align: center;
}

.modalfooter {
    border: 0;
    padding-bottom: 0px;
    padding-right: 0px
}

.titleselecto:hover {
    background-color: #ffc107
}
.titleselecto:focus {
    background-color: #ffc107
}
Mstops {
    text-align: center;
}
.modelDA {
    font-size: 28px;
    color: #ffc107;
    margin-bottom: 0;
    font-family: 'DIN_Regular';
}
.modelDAd {
    margin-bottom: 20px;
    margin-left: auto;
    font-size: 15px;
    font-family: 'DIN_Regular';
    text-align: center;
}
.modelLogo {
    float: right;
    width: 44%;
    height: auto;
}
.segmentDepart {
    width: fit-content;
    display: inline-block;
}
.segmentDepart p {
    width: fit-content;
    display: inline-block;
    margin: 0;
}
.segmentDepart small {
    width: fit-content;
    display: inline-block;
}
.segmentDepartHr {
    display: inline-flex;
}
.segmentStop {
    font-size: 15px;
    margin: 10px 0 0 0;
    font-family: 'DIN_Regular';
    color: red;
    font-weight: bold;
}
.segmentstopTime {
    font-size: x-small;
    text-align: center;
    color: red;
}
span.small
{
    display: block;
}

span.small small
{
display: inline-block;
margin-left:5px;
font-size: 12px;
font-weight: 800;
}
.hall {
    color: #35b33a
}
.airportcode{
    font-size: medium;
}
.point {
    width: 15px;
    height: 15px;
    border: 3px solid #ffc107;
    border-radius: 100%;
    background-color:#fef9f917;
    position: relative;
    z-index: 3;
    margin-top: 10px;
}
.stopPoint {
    z-index: 7;
    left: 45%;
    background-color: #5ec074;
    top: -1px;
}
.firstPoint {
    left: 18px;
}
.route {
    display: flex;
}
.leftpadding {
    padding-left: 0px
}
.rightpadding {
    padding-right: 0px
}
.marg {
    margin: auto;
}
.textalignr {
    text-align: right;
}
.textalignc {
    text-align: center;
}
.cityname {
        font-size: 15px;
    }
.infodate {
        font-size: 11px;
    }
.infotimeandHall {
        font-size: 11px;
    }
.loadingBar {
        margin-left:-15px;
        margin-right:-15px;
  } 
 .modal-backdrop {
    display: none;
    
}
:host ::ng-deep.btn-outline-warning  {
height: 100%;
background-color: white;
border: 1px solid black;
border-bottom: 0px;
border-left: 0px;
}
:host ::ng-deep.btn-outline-warning :hover {
    color: #fff;
    background-color: #ffc107;
    border-color: #ffc107;
}


/* scrollbar style */

/* width */
::-webkit-scrollbar{
    width: 3px;
    height: 50px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:#d1c4e9 ; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffc107; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #e0a800; 
  }

  /* scrollbar style */


  /* modal-view-port */
  .view-port-container,
  .view-port-container2 {
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      width: 100%;
      height: 100%;
      
  }
  .modal-view-port {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;

  }

  /* modal-view-port */

/* start responsive style */
/* @media (min-width: 768px){

} */


@media (max-width: 768px){
    .MoreDetBtn button{
        background: #fff;
        border: 1px solid #000;
        color: #000;
        padding: 10px;
        width: 100%;
    }
    .modal button{
        background: #fff;
        border: 0px solid #fff;
        color: #000;
        /* padding: 0px; */
        width: 30%;
    }
    .smallsegmant {
        /* transform: translateX(123px)translatey(-37px)rotate(90deg);
        width: 169px; */
        -webkit-transform: translateX(240px)translatey(-7px)rotate(90deg);
        transform: translateX(240px)translatey(-7px)rotate(90deg);
        width: 130px;
    }
    .leftpadding {
        padding-left: 15px
    }
    .rightpadding {
        padding-right: 15px
    }
    .marg {
        margin: 0px;
    }
    .textalignr {
    text-align: left;
    }
    .cityname {
        /* font-size: 30px; */
        font-size:20px;
    }
    .infodate {
        font-size: 21px;
        margin-left: 25px;
    }
    .infotimeandHall {
        font-size: 15px;
        margin-left: 40px;
    }

    .modelDA
    {
        font-size: 20px;
    }

    .modelDAd b
    {
        font-size:12px;
    }
    
}



@media (max-width: 480px){
    .smallsegmant {
        /* transform: translateX(123px)translatey(-37px)rotate(90deg);
        width: 169px; */
        /* -webkit-transform: translateX(150px)translatey(-7px)rotate(90deg);
        transform: translateX(150px)translatey(-7px)rotate(90deg); */
        -webkit-transform: translateX(70px)translatey(0px)rotate(90deg);
        transform: translateX(70px)translatey(0px)rotate(90deg);
        width: 100px;
        margin:auto;

    }
    .cityname {
        /* font-size: 30px; */
        font-size:16px;
    }


}
@media (max-width: 570px){

    .routeSegment
    {
        -webkit-transform: translateX(70px)translatey(0px)rotate(90deg);
        transform: translateX(70px)translatey(0px)rotate(90deg);
        width: 100px;
        margin: auto;
    }
}
.moreinfo{
    max-width: 80%;
    margin-top: 20px;
    margin-left: auto;
}