<div class="backdrop">

</div>
<div class="alert-box container-fluid">
  <div class="row align-self-center"  style="margin: 0 auto">
    <div class="col-12 alertTitle">
     <!-- {{paymentError}}  -->
     Something went wrong during payment our customer service will help you to complete your booking
    <img src="../../../assets/img/call-center-worker-with-headset (1).svg" alt="" width="25%" style="display: inline-block; margin:20px auto 0;">
    </div>

  <div class="alert-box-action MoreDetBtn col-12">
    <button type="button" class="btn btn-outline-primary  moreResult " style="max-width:40%;" [routerLink]="['/Contact']">Contact Us</button>
  </div>
  </div>
</div>




