<header id="header">

</header><!-- #header -->
<section id="intro" class="clearfix">
  <div class="container d-flex h-100">
    <div class="row justify-content-center align-self-center">
      <div class="col-md-6 intro-info order-md-first order-last">
        <h2>An Easy Book Easy<br><span>Go!</span> Online Solution </h2>
        <div>
          <a href="" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>

      <div class="col-md-6 intro-img order-md-last order-first">
        <img src="../../../assets/img/intro-img.svg" alt="" class="img-fluid">
      </div>
    </div>

  </div>
</section><!-- #intro -->
<main id="main">

  <!--==========================
    About Us Section
  ============================-->
  <section id="about">

    <div class="container">
      <div class="row">

        <div class="col-lg-5 col-md-6">
          <div class="about-img">
            <img src="../../../assets/img/about-us-plane.jpg" alt="plane">
          </div>
        </div>

        <div class="col-lg-7 col-md-6">
          <div class="about-content">
            <h2>Our story</h2>
            <h3>It all started with a simple idea.</h3>
            <p>It all started with a simple idea back in 2015 of providing a safe, easy and comprehensive world-class online travel experience, present our clientele the comforts of the latest technologies with a  contemporary look and feel all that happening in the safest milieu imaginable </p>
            <p>Today We inspire travellers. Our success is not only due to the quality of our work; it’s down to attitude, our approach, high values and the way we treat our clients, Read on to find out more</p>
          </div>
        </div>
      </div>
    </div>

  </section><!-- #about -->

 <!--==========================
    Features Section
  ============================-->
  <section id="features">
      <div class="container">
  
        <div class="row feature-item">
          <div class="col-lg-6 wow fadeInUp">
            <img src="../../../assets/img/beautiful-bright-hand-1252983-min.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h3>Our Mission</h3>
            <p>
                Hogozati is a catalyst for online travel audience to feel, see and change the current trend of online booking perspective by making the whole journey simpler and safer; We deliver optimistic and diverse, easy,  safe, storytelling, experiences, and points of view to our audience of smart, curious, passionate travellers.
            </p>
          </div>
        </div>
  
        <div class="row feature-item mt-5 pt-5">
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="../../../assets/img/bump-collaboration-colleagues-1068523-min.jpg" class="img-fluid" alt="">
          </div>
  
          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h3> Our Vision</h3>
            <p>
                There are a lot of agencies that do what we do; they share the same what and how, but our partners will work with us for our why and our who, we are minds and makers with business sense and creative chops, set out to connect people with what matters most – the experience. And we spend each day doing so by sharpening the tools of online travel. 
            </p>
          
          </div>
          
        </div>
        <div class="row feature-item mt-5 pt-5">
            <div class="col-lg-6 wow fadeInUp">
              <img src="../../../assets/img/cardboard-communication-connecting-1246743-min.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
                <h3> Our Essence and Vibe</h3>
                <p>
                    At the core, Hogozati operates on imagination, authenticity, simplicity, individuality, inclusivity and impact. 
                </p>
                <p>
                    At Hogozati we make it easy, we dream it, and then do it – together – every day reinventing what’s possible. 
                </p>
            </div>
          </div>
      </div>
    </section><!-- #about -->
  
  <!--==========================
    Services Section
  ============================-->
  <section id="services" class="section-bg">
    <div class="container">

      <div class="section-header">
        <h3>Services</h3>
        <p> WE made Customer needs Easy ,Clear and Simple Overview</p>
      </div>

      <div class="row">

        <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #302d2d;"><i class="fas fa-globe" style="color:#ffc107"></i></div>
            <h4 class="title"><a href="">GDS</a></h4>
            <p class="description">All In one Place</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #302d2d;"><i class="fas fa-passport" style="color:#ffc107"></i></div>
            <h4 class="title"><a href="">LCC</a></h4>
            <p class="description"> Full Travel Services</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #302d2d;"><i class="fas fa-plane" style="color:#ffc107"></i></div>
            <h4 class="title"><a href="">Direct Airlines</a></h4>
            <p class="description">Best Prices and Terrific Offers</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 wow bounceInUp" data-wow-delay="0.1s" data-wow-duration="1.4s">
          <div class="box">
            <div class="icon" style="background: #302d2d;"><i class="fas fa-hotel" style="color:#ffc107"></i></div>
            <h4 class="title"><a href=""> Hotels</a></h4>
            <p class="description">Planing Your vacation Is Much Easier With Us </p>
          </div>
        </div>

  
      </div>

    </div>
  </section><!-- #services -->



</main>
<app-contact></app-contact>
<app-footer></app-footer>