
/* hide curr in inner pages+ checkout +confirmation */
:host::ng-deep.currLink{
    display: none;
    }

/* hide curr in inner pages+ checkout +confirmation */

.HpreConfirm{
    /* background: url(../../../assets/img/shutterstock_775162108.jpg) no-repeat center center fixed;  */
    background: url(../../../assets/img/hotelSearch.jpg) ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center; 
}

.HpreConfirm .Title{
    text-align: center;
    color: #fff;
    font-family:  'DIN_Regular';
    padding-top: 15vh;
    padding-bottom: 20vh;
}

.loadingImg
{
min-height: 500px;
text-align:center;
display: flex;
justify-content:center;
align-items: center;
}




.title {
    min-height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: rgb(255, 255, 255);
    font-size: 34px;
}
.animationLoading{
    color: #fff;
   ;
  }
  @keyframes animate {
      0% {color: #fff;transition: all 0.3s ease-out;}
      15%{color: #ffedb9;transition: all 0.3s ease-in;}
      60%{color:#febe10;;transition: all 0.3s ease-out; }
      to {color:#f6f7f8;transition: all 0.3s ease-in;}
  }
h2 {
    position:relative;
    color: liniear;
    height: 6px;
    animation-name: animate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  