<!-- <div class="row justify-content-center align-items-center" >
  <div class="card  col-12 col-12 col-md-4 " style="margin-top: 15vh ;padding: 20px;">
 
    <div style="min-height: fit-content card-body">
      <form [formGroup]="loginform" class="row justify-content-center" (ngSubmit)="onSubmit()">
        <div class="col-12 col-md-7">
          <p>
            Enter Your Email Address
          </p>
          <mat-form-field color="accent" appearance="outline">
              <i class="fas fa-envelope feildicon" matPrefix></i>
            <input matInput placeholder="email Address" required formControlName='email' type="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
          </mat-form-field>
        </div>

        <div class=" col-12 col-md-7 text-center">
          <button class="SingInButton" mat-raised-button color="accent" click ='onSubmit'>Send Email</button>
        </div>
        
      </form>
    </div>
  </div>
  </div>
   -->