<header class="header"></header>
<div class="wraber">
  <div class="container">
    <div class="row title">
      <h1>Terms of Use</h1>
    </div>
    <div class="row">
      <div class="left-menu scroll-to-fixed-fixed col-xs-12 col-sm-3 col-md-2 scrollspy-example" data-spy="scroll" data-target="#list-example" data-offset="0" >
        <ul>
          <li class="twoLineLink"><a class="anchorScroll" (click)="scroll(cf)" #cf>The agreement between the client and
              Hogozati.com</a></li>
          <li><a class="anchorScroll" (click)="scroll(age)">Age</a></li>
          <li><a class="anchorScroll" (click)="scroll(General)">General</a></li>
          <li><a class="anchorScroll"  (click)="scroll(sos)">Scope of Service</a></li>
          <li><a class="anchorScroll"  (click)="scroll(pd)">Product Description</a></li>
          <li><a class="anchorScroll"  (click)="scroll(payment)">Payment</a></li>
          <li><a class="anchorScroll"  (click)="scroll(ds)">Delivery Service </a></li>
          <li><a class="anchorScroll"  (click)="scroll(ctb)">Changes to Bookings – Refund Policy</a></li>
          <li><a class="anchorScroll"  (click)="scroll(ruc)">Requirements upon Check-in</a></li>
          <li><a class="anchorScroll"  (click)="scroll(si)">Site Information</a></li>
          <li><a class="anchorScroll"  (click)="scroll(liability)">Liability</a></li>
          <li><a class="anchorScroll"  (click)="scroll(fairness)">Fairness</a></li>
          <li><a class="anchorScroll"  (click)="scroll(copyright)">Copyright</a></li>
          <li><a class="anchorScroll"  (click)="scroll(insurance)">Insurance</a></li>
          <li><a class="anchorScroll"  (click)="scroll(bf)">Booking Fee</a></li>
          <li><a class="anchorScroll"  (click)="scroll(tax)">Tax</a></li>
          <li><a class="anchorScroll"  (click)="scroll(competitions)">Competitions</a></li>
          <li><a class="anchorScroll"  (click)="scroll(general1)">General</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10 rightSctn">
        <div class="boxNewGrid privcy-terms-content hotelTerms">
          <div class="accordianBlock">
            <h3 id="cf" #Cf>The agreement between the client and Hogozati.com</h3>
            <div class="accord-dis">
              <p>Dear clients, we welcome you to our terms and conditions page. Please read the page carefully as it
                regulates
                the relationship between you and Hogozati.com. We apply the conditions outlined below when you book your
                accommodation or flight tickets or use any other service that is available from Hogozati.com</p>
            </div>
          </div>
          <div class="accordianBlock">
            <h3 id="Age" #Age>Website Terms and Conditions</h3>
            <div class="accord-dis">
              <ol type="I">
                <li>
                  <h4>
                    Age
                  </h4>
                  <p>
                    You must be at least 18 years of age to use the Website and make a booking of any service displayed
                    on our site.
                  </p>
                </li>
                <li>
                  <h4 #General>
                    General
                  </h4>
                  <p>
                    We act as a disclosed agent for third party suppliers and your contract is direct with them.
                    Bookings are subject to the supplier’s terms and conditions and policies, and you should read these
                    before proceeding with your booking. Our role as an agent is limited to facilitating bookings and
                    arranging documentation, payments and refunds, as applicable.
                  </p>
                </li>
                <li>
                  <h4 #Sos>
                    Scope of Service
                  </h4>
                  <p>
                    The information that we disclose is based on the information provided to us by the Suppliers, and
                    they are fully responsible for updating all rates, availability which appears on the website. While
                    we take care, we cannot guarantee that, all information is accurate, complete or correct, nor can we
                    be held responsible for any errors (including manifest and typographical errors), any interruptions
                    (whether due to any (temporary and/or partial) breakdown, repair, upgrade or maintenance of our
                    website or otherwise), inaccurate, misleading or untrue information or non-delivery of information.
                    Any dispute (including in relation to pricing) must be resolved by you directly with the supplier or
                    third-party provider, and we will not become involved in or mediate about any dispute if it is not
                    related to our service.
                  </p>
                </li>
                <li>
                  <h4 #PD>
                    Product Description
                  </h4>
                  <p>
                    Hogozati is an Online Travel Agency OTA and operates websites throughout the GCC, and MENA providing
                    consumers to Search Book and Pay various products including;<br>
                  </p>
                  <ul>
                    <li>
                      Flights
                    </li>
                    <li>
                      Hotels
                    </li>
                    <li>
                      Tours
                    </li>
                    <li>
                      Activities
                    </li>
                    <li>
                      Transfers
                    </li>
                    <li>
                      Travel Insurance
                    </li>
                    <li>
                      Car Rental
                    </li>
                  </ul>

                </li>
                <li>
                  <h4 #Payment>
                    Payment
                  </h4>
                  <p>
                    You must make payment for the service(s) booked on the site at the time of booking, and you agree to
                    make payment via a debit to your nominated credit card. The amount debited will (subject to the
                    following) be the amount shown on our booking page prior to you clicking the “Pay Now” button on
                    that page. Depending upon the currency of the booking, your credit card’s currency and the country
                    in which your card was issued, your credit card provider may impose foreign exchange fees and other
                    fees, which are in accordance with your arrangements with that credit card provider. <br>
                  </p>
                  <ul>
                    <li>
                      Currency: All prices shown on this website are based on AED and can be displayed in several
                      types of currencies
                    </li>
                  </ul>

                </li>
                <li>
                  <h4 #DS>
                    Delivery Service
                  </h4>
                  <p>
                    On receipt of your order, you will receive an instant confirmation of the successful booking(s), and
                    PDF travel documents for your booking(s) should this not arrive within 24 hours please, <br>
                  </p>
                    <ol type="i">
                      <li>
                        Open your spam email folder in your email client;
                      </li>
                      <li>
                        Contact support@hogozati.com to resend your confirmation order and to check that you have
                        entered the correct email address
                      </li>
                    </ol>
                  
                </li>
                <li>
                  <h4 #CTB>
                    Changes to Bookings–Refund Policy
                  </h4>
                  <p>
                    If you want to change any details of your booking(s), you must contact our Customer Service Centre
                    <a>support@hogozati.com</a> , We will do our best to assist you, but cannot guarantee that changes
                    can be made each time. <br> </p>
                    <small> <i>Please note that:</i></small> <br>
                    <ul>
                      <li>
                        bookings at certain Suppliers, or in certain periods, or for certain class or type cannot be
                        cancelled or changed;

                        and some
                      </li>
                      <li>
                        Suppliers or providers may permit cancellations or changes, but this may involve that provider
                        imposing a charge which information and amounts will be provided by the Supplier, (see
                        cancellation policy)

                        In addition, we apply an administration charge to all booking changes and permitted
                        cancellations – <small><i>(this is in addition to any cancellation charges imposed by the
                            provider)</i></small>.
                        For Accommodations If you fail to cancel a booking and do not check-in in accordance with the
                        booking made, you will be charged for up to the full amount of the booking made.
                      </li>
                    </ul>


                  
                </li>
                <li>
                  <h4 #RUC>
                    Requirements upon Check-in
                  </h4>
                  <p>
                    We do not provide your credit card details to any provider, and as such, you will be required to
                    provide a credit card imprint or equivalent at check-in to cover incidental charges if applicable.

                    For Hotels The person registering at check-in must be at least 18 years of age.
                    You will need to comply with any check-in requirements of the accommodation provider, which may
                    include the provision of photo ID at check-in to ensure that your identity matches the booking
                    identity. A record and/or copy of this photo ID may be retained by the accommodation provider to
                    minimize the risk of fraudulent credit card usage and for verification purposes with your credit
                    card provider in the event of disputation. This identification information may be supplied to us by
                    the accommodation provider.
                  </p>
                </li>
                <li>
                  <h4 #SI>
                    Site Information
                  </h4>
                  <p>
                    We make every effort to ensure all information displayed on our site is accurate. However, as
                    considerable information is accessed from accommodation providers and posted by our customers, we
                    are unable to guarantee the accuracy of all information nor are we able to guarantee that the site
                    is free of errors or faults. We reserve the right to change information displayed on our site
                    (including these terms and conditions) at any time without notice to you. Links which are provided
                    to any 3rd party site are for your reference only and we do not endorse and nor are we responsible
                    for the content of those websites by virtue of the availability of a link to their site.
                  </p>
                </li>
                <li>
                  <h4 #Liability>
                    Liability
                  </h4>
                  <p>
                    Without affecting any of your statutory consumer rights that cannot be lawfully excluded or limited:
                    a) we will not be liable for any losses, damages, liability, claims or expenses (howsoever caused,
                    including negligence, and whether direct, indirect or consequential) arising from the use of or
                    connected with our site or any products or services purchased on our site, and b) we make no
                    warranty or representation as to the fitness or suitability of any product or service displayed on
                    our site or any linked site. Where our liability cannot be excluded, to the extent permitted by law,
                    such liability is limited to the value of the booking made. You acknowledge that you will be liable
                    for any illegal, improper, inappropriate or defamatory material which you may post to the Website
                    and you will indemnify Hogozati, its Officers, Directors, and agents from any claim, demand or loss
                    arising out of:
                  </p>
                  <ol type="a">
                    <li>
                      your breach of this agreement
                    </li>
                    <li>
                      your violation of any law or the rights of a 3rd party
                    </li>
                    <li>
                      your use of this Website
                    </li>
                  </ol>
                  <small> <i>You agree that you will not use the Website:</i></small>
                  <ol type="a">
                    <li>
                      for any commercial purpose other than the booking of the services as provided here
                    </li>
                    <li>
                      to make any false reservations
                    </li>
                    <li>
                      to cause harm to us or any 3rd party related to us
                    </li>
                  </ol>

                </li>
                <li>
                  <h4 #Fairness>
                      Fairness
                  </h4>
                  <p>
                      We always try to settle any issues or complaints about our service quickly and fairly.
                  </p>
                  <ul>
                    <li>
                        Any correspondence should be sent to Attention:  <a>support@hogozati.com</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4 #Copyright>
                      Copyright
                  </h4>
                  <p>
                      Hogozati has the copyright to all images and content on our Website, which may not be copied, saved or used in any format other than as incidental to your permitted use of the site.
                  </p>
                </li>
                <li>
                  <h4 #Insurance>
                      Insurance
                  </h4>
                  <p>
                      We recommend that all customers obtain travel insurance against cancellation or amendment fees as well as providing sufficient medical cover.
                  </p>
                </li>
                <li>
                  <h4 #BF>Booking Fee:</h4>
                  <p>
                      We charge a booking fee which will automatically be charged upon completion of the booking. The booking fee is non-refundable. You should be aware that some banks and financial institutions charge a fee for the use of credit facilities. If so, we may charge you a non-refundable credit card fee that applies to each booking for hotels. This fee covers payment handling costs, including merchant service fees.
                  </p>
                </li>
                <li>
                    <h4 #Tax>
                        Tax
                    </h4>
                    <p>
                        Prices include the legal tax unless otherwise stated.
                    </p>
                </li>
                <!-- <li>
                  <h4>
                      Secure Sockets Layer “SSL”
                  </h4>
                   <p>
                      is supplied by ----------- one of the world’s largest suppliers of SSL Certificates for further information visit -----------------
                   </p>
                </li> -->
                <li>
                  <h4 #General2>
                      General
                  </h4>
                  <p>
                      These terms and conditions are governed by the laws of the United Arab Emirates. We receive payments from our suppliers for the provision of our booking service. All references to “we”, “our” and “us” are references to Hogozati FZE. For information on how we deal with your personal information, please refer to our privacy policy.
                  </p>
                </li>
              </ol>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>



  <app-footer></app-footer>