<div class="backdrop">

</div>
<div class="alert-box container-fluid">
  <div class="row align-self-center"  style="margin: 0 auto">
    <div class="col-12 alertTitle">
    {{normalError}}
      
    </div>
    <div class="col-5 alertTitle align-self-center">
      <a [routerLink]="['/Contact']">Contact us</a>
    </div>
  
  <div class="alert-box-action MoreDetBtn col-12">
    <button type="button" class="btn btn-outline-primary  moreResult "  [routerLink]="['']">New search</button>
  </div>
  </div>
</div>


